{% extends "intervals/base.html" %}
{% load static %}
{% block content %}

{% comment %} <div class="main-page-container"> {% endcomment %}
    <div id="amazon-root"></div>
    <script type="text/javascript">
        window.onAmazonLoginReady = function () {
            amazon.Login.setClientId('amzn1.application-oa2-client.4193140bef1f4d1e957b5e80812c64ca');
        };
        (function (d) {
            console.log('hi')
            var a = d.createElement('script'); a.type = 'text/javascript';
            a.async = true; a.id = 'amazon-login-sdk';
            a.src = 'https://assets.loginwithamazon.com/sdk/na/login1.js';
            d.getElementById('amazon-root').appendChild(a);
        })(document);
    </script>
   
    <header class="clearfix">
        <div class="container">
            <div class="header-left">
                <h1 class="nav-h1">Music Interval Training</h1>
            </div>
            <div class="header-right">
                <label for="open">
                    <span class="hidden-desktop"></span>
                </label>
                <input type="checkbox" name="" id="open">
                <nav>
                    {% comment %} <a href="#learn-more-outerdiv">Learn More</a> {% endcomment %}
                    <a href="{% url 'progress_details' %}">See Your Progress</a>
                    {% comment %} <a href id="LoginWithAmazon">Amazon Login</a> {% endcomment %}
                </nav>
            </div>
        </div>
    </header>
    <script type="text/javascript">
        document.getElementById('LoginWithAmazon').onclick = function () {
            options = {}
            options.scope = 'profile';
            options.scope_data = {
                'profile': { 'essential': false }
            };
            amazon.Login.authorize(options,
                'https://www.musicintervaltraining.com/');
            return false;
        };
    </script>
    {% comment %} <div class="quotes">
        <h1 class="title-line">"Alexa, open Music Interval Training."</h1>
        <div class="subtitle">
        <p>Progress you can track.</p> {% endcomment %}
            {% comment %} <p>Make the jumble of notes you hear in your head</p>
            <p>become recognizable relationships requisite for</p>
            <p>improvisation, composition</p>
            <p>and other smart stuff.</p> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% comment %} <div class="alexa-img-div">
            <img alt="image of alexa device" src="static/images/alexa.jpg" class="alexa-img">
            <p class="alexa-img-title"style="font-style: italic; margin-bottom: 5%;">"Alexa, open Music Interval Training"</p>
        </div>  {% endcomment %}
    {% comment %} </div> {% endcomment %}
    {% comment %} <div class="intervals-pngdiv">
        <img alt="black and white image of intervals" class="intervals-png"
            src="{% static 'images/diatonic_intervals_2.jpeg' %}" style="width:60%;">
          
    </div> {% endcomment %}
{% comment %} </div> {% endcomment %}
<div id="learn-more-outerdiv">
    <div class="chart-alexa-outer-div">
        <div style="border-bottom: 0.5px solid #a09d9d;margin-bottom: 2%; padding-bottom: 2%;"class="alexa-img-div">
            <img alt="image of alexa device" src="static/images/alexa.jpg" class="alexa-img">
            <p class="alexa-img-title"style="font-style: italic; margin-bottom: 5%;">"Alexa, open Music Interval Training"</p>
        </div>
        <div class="canvas-outerdiv">
            <h3 class="mobile-responsive"></h3>
            <div class="canvas-div">
                <canvas id="myChart" class="charts"></canvas>
            </div>
        </div>
    </div>
    <div id="learn-more">
        <div class="alexa-screendiv">
            <img class="alexa-screen"src="static/images/alexascreenshot.png">
        </div>
        <div class="info-header"style="border-top: 0.5px solid #a09d9d;margin-bottom: 2%; padding-bottom: 2%;">
            <h3>Music Interval Training</h3>
            <p>This skill helps those who are seeking to improve the ability to hear and identify music intervals. Alexa
                randomly plays intervals for the user to guess and responds whether the response is correct or incorrect. 
                www.musicintervaltraining.com saves this data a provides a platform for the user to view their metrics and 
                play intervals they wish to practice.
             </p>
        </div>
        {% comment %} <div style="border-bottom: 0.5px solid #a09d9d;margin-bottom: 2%; padding-bottom: 2%;">
            <h3>How to use:</h3>
            <p>To Get Started: Say, "Alexa, open Music Interval Training"</p>
            <p>You will guess the type of interval played and Alexa will confirm whether correct or not.</p>
            <p>You will be able to view your progress on this site through our dynamic charts</p>
        </div>
        <div class="intro-alexa-font">
            <h4>Start by Saying:</h4>
            <p>"Alexa, open Music Interval Training"</p>
        </div> {% endcomment %}
    </div>
</div>
<footer class="footer">
    {% comment %} <div class="learn-more-button-outerdiv">
        <a class="learn-more-button" id="btn-for-mobile" href="#top" style="animation-delay:0.07s">Back to top</a>
        
    </div> {% endcomment %}
</footer>
<footer>
    <div class="footer2">Music Interval Training by Leslie Heal Ray, Chris Kabler and Bitha Jordan.</div>
</footer>
<script src="{% static 'main.js' %}" defer></script>
{% endblock %}














