{% extends "intervals/base.html" %}
{% load static %}

{% block content %}


<div class="login-buttons">

    <a class="amazon-button" href id="LoginWithAmazon">

    </a>
</div>

<div class="quotes">

    <!-- <div class="music-notes-div">
        <p class="music-notes1">&#127925;</p>
        <p class="music-notes2">&nbsp&nbsp&nbsp&nbsp&nbsp&#127926;</p>
        <p class="music-notes3">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#127925;</p>
        <p class="music-notes4">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#127926;</p>

    </div> -->


    <h1>"Alexa, launch music interval training."</h1>
    <p>Music interval ear training for the aspiring musician
    </p>
    <p>An interval is the difference in pitch between
        two sounds</p>

</div>



<div class="intervals-div">
    <img class="intervals-png" src="static/images/diatonic_intervals.png" width="60%">

</div>

{% endblock %}