{% extends "intervals/base.html" %}
{% load static %}

{% block content %}

<div class="main-container-progress">
  <a class="nav-link" href="/" style="text-decoration: none;">
    <nav id="nav-progress-page">
      <h1 class="nav-title">Music Interval Training</h1>
    </nav>
  </a>

  <div class="charts-progress">
    <div class="progress-details">
      <canvas id="myChart" class="mychart"></canvas>
    </div>
  </div>
</div>
<script>
var numberWithCommas = function(x) {
    if (Math.floor(x) === x) {
        return x;
    }
  };
var num_incorrect = [{% for interval in chart_data.values %}{{ interval.incorrect }}, {% endfor %}];
var num_correct = [{% for interval in chart_data.values %}{{ interval.correct }}, {% endfor %}];
    
var canvas = document.getElementById('myChart');
canvas.height = 150;
var data = {
  labels: [{% for interval in chart_data.values %}"{{ interval.interval }}", {% endfor %}],
  datasets: [
    {
        label: 'Correct',
        data: num_correct,   
        backgroundColor: 'rgba(89, 171, 227, 1)',
    },  
    {   
        label: 'Incorrect',
        data: num_incorrect,
        backgroundColor: 'rgba(248, 148, 6, 1)',
    }, 
  ]
}
var options = {
  legend: {
    display: true,
  },
  {% comment %} responsive: true,
  maintainAspectRatio: false, {% endcomment %}
  scales: {
    yAxes: [{
      stacked: true,
      scaleFontSize: 40,
      scaleLabel: {
        display: true,
      },
      ticks: {
        max: {{ max_attempts }},
        min: 0,
        beginAtZero: true,
        callback: function(value) {
          return numberWithCommas(value);
        }
      },
    }],
    xAxes: [{
      id: "bar-x-axis1",
      stacked: true,    
    }, {
      id: "bar-x-axis2",
      stacked: true,
      display: false,      
    }, ],
  },
  plugins: {
    datalabels: {
      anchor: 'end',
      align: 'top'   
    }
  }
};
var myBarChart = Chart.Bar(canvas, {
  data: data,
  options: options
});
// logic to get new data
var getData = function() {
  $.ajax({
    url: "{% url 'chart_data' %}",
    success: function(data) {
        console.log(data);
      myBarChart.data.datasets[0].data = data.correct;
      myBarChart.data.datasets[1].data = data.incorrect;  
      myBarChart.options.scales.yAxes[0].ticks.max = data.max_attempts;    
      // re-render the chart
      myBarChart.update();
    }
  });
};
// get new data every 3 seconds
setInterval(getData, 3000);
</script>

<script>
  function playItHere(e, link) {
    var audio = document.createElement("audio");
    var src = document.createElement("source");
    src.src = link.href;
    audio.appendChild(src);
    audio.play();
    e.preventDefault();
  }
</script>

<div class="intervals-intro">
  <p class="intervals-introp">To hear an interval, click on the buttons below!</p>
</div>
<div class="intervals">
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Minor_2-A-B-flat+.mp3"
    onclick="playItHere(event, this)">m2</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Major_2-A-B+.mp3"
    onclick="playItHere(event, this)">M2</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Minor_3-C%23-E.mp3"
    onclick="playItHere(event, this)">m3</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Major_3-D-F%23+.mp3"
    onclick="playItHere(event, this)">M3</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Perfect_4-A-D.mp3"
    onclick="playItHere(event, this)">P4</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Tritone_D-G%23.mp3"
    onclick="playItHere(event, this)">Tritone</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Perfect_5-D-A.mp3"
    onclick="playItHere(event, this)">P5</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Minor_6-C-A-flat.mp3"
    onclick="playItHere(event, this)">m6</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Major_6-C%23-A%23.mp3"
    onclick="playItHere(event, this)">M6</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Minor_7-E-D.mp3"
    onclick="playItHere(event, this)">m7</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Major_7-C-B.mp3"
    onclick="playItHere(event, this)">M7</a>
  <a class="interval" href="https://cohort-6-intervals.s3.amazonaws.com/Octave_C-C.mp3"
    onclick="playItHere(event, this)">Octave</a>

</div>

{% endblock %}